[submodule "bash-preexec"]
	path = bash-preexec
	url = https://github.com/rcaloras/bash-preexec.git
[submodule "gerrit-helpers"]
	path = gerrit-helpers
	url = git@github.com:ksztyber/gerrit-helpers.git
